@use "theme" as theme;

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 200px;
}

mat-card {
  max-width: 40rem;
  width: 100%;
  margin: 40px auto;
  padding: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  max-width: 100%;
  width: 30rem;
}


mat-icon {
  color: map-get(theme.$blue-accent-palette, 900);
}


button[mat-raised-button] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: map-get(theme.$blue-accent-palette, 900);
}


.button {
  width: 100%;
  margin-top: 16px;
}


.error {
  color: red;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
  font-size: 14px;
}



@media screen and (max-width: 600px) {
  .logo img {
    width: 150px;
  }

  mat-card {
    margin: 20px 16px;
    padding: 16px;
    width: auto;
  }

  button[mat-raised-button] {
    font-size: 14px;
  }

  mat-form-field {
    max-width: 100%;
    width: 15rem;
  }
}